@model List<PredictionViewModel>

@{
    ViewBag.Title = "Arrivals";
    Layout = "_Layout";
}

<h2>Next Buses at @Model[0].stationName </h2>
<div>
<ol>
    @foreach (var arrival in Model)
    {
        <li>@arrival.GetString()</li>
    }
</ol>
</div>